.field {
  display: block;
  margin-bottom: 50rem;
}
select {
  border-radius: 0;
  height: 2rem;
  width: 30%;
  display: inline-block;

  &:focus {
    border: 2px solid lightblue;
    outline: none;
  }
}
button {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  background: blue;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 0.5rem 0;

  &:hover {
    opacity: 0.8;
  }
}
